.pre_footer .wrap {
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	height: 268px;
	align-items: center;
	display: flex;
}

.pre_footer_text {
	flex: 0 0 calc(50% - 60px);
	margin-right: auto;
}

.pre_footer_image {
	flex: 0 0 calc(50% + 50px);
	background-image: url(../img/footer_ru_ru.png);
	height: 268px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	margin-right: -20px;
}

html[lang="de"] .pre_footer_image,
html[lang="es"] .pre_footer_image,
html[lang="en"] .pre_footer_image,
html[lang="fr"] .pre_footer_image,
html[lang="pl"] .pre_footer_image,
html[lang="id"] .pre_footer_image,
html[lang="fi"] .pre_footer_image {
	background-image: url(../img/footer_en_en.png);
}

.recent_viewed {
	border-bottom: 1px solid #EFF4F6;
}

.recent_viewed ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.recent_viewed ul li {
	margin-right: 20px;
}

.recent_viewed .wrap {
	align-items: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.recent_viewed_title {
	padding-right: 20px;
	margin-right: 42px;
	border-right: 1px solid #CCDBE1;
	line-height: 22px;
}

@media screen and (max-width: 700px) {
	.pre_footer_image {
		display: none;
	}
	
	.pre_footer_text {
		margin-right: 0;
		flex: 0 0 calc(100%);
	}
	
	.pre_footer .wrap {
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 34px;
	}
	
	.recent_viewed ul li {
		margin-right: 10px;
		margin-left: 10px;
		margin-bottom: 20px;
		
	}
	
	.recent_viewed ul {
		margin-left: 22px;
		margin-right: 22px;
		justify-content: center;
		max-width: 350px;
		flex-wrap: wrap;
	}
}