.text_image_text {
	width: calc(100% - 666px - 30px);
	margin-right: auto;
	padding-top: 72px;
}

.style_left .text_image_text {
	margin-left: auto;
	order: 2;
	margin-right: 0;
}

.text_image_image {
	width: calc(666px);
}

.style_left .text_image_image {
	order: 1;
}

.text_image_text_content {
	font-size: 18px;
	color: #333;
	line-height: 30px;
	margin-top: 42px;
}

.block_text_image h2 {
	margin: 0;
	padding: 0;
}

.block_text_image {
	padding-top: 50px;
	padding-bottom: 70px;
}

.block_bottom_border {
	border-bottom: 1px solid #E9F0F3;
}

.text_land_about_2 .text_image_text {
	width: 574px;
	padding-top: 30px;
}

.style_none.text_land_about_2 .text_image_text, .style_bottom.text_land_about_2 .text_image_text {
	width: calc(100%);
}

.text_land_about_2 .text_image_image {
	display: none;
}

.text_land_about_2 .text_image_text_content {
	color: #001640;
}

.text_land_about_2.block_text_image h2,.text_land_about_2.block_text_image h1 {
	font-size: 38px;
	line-height: 42px;
	font-weight: 900;
}

.about_gradient_right_image.block_text_image h2 {
	font-size: 32px;
	line-height: 42px;
}

.about_gradient_right_image .text_image_text {
	padding-top: 20px;
}

.about_gradient_right_image .text_image_text_content {
	color: #001640;
}

.style_none .text_image_image {
	display: none;
}

.style_bottom.text_land_about_2 .wrap {
	flex-direction: column;
}

.style_bottom.text_land_about_2 .text_image_image {
	display: block;
}

.block_text_image.bottom_zero {
	padding-bottom: 0 !important;
}
/*
.about_gradient_right_image .text_image_image {
	position: relative;
}

.about_gradient_right_image .text_image_image:after {
	content: ' ';
	display: block;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 40%;
	background: linear-gradient(360deg, #EFF4F6 33.18%, rgba(239, 244, 246, 0) 76.89%);
	bottom: 0;
}*/